<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <link type="text/css" rel="stylesheet" href="/static/bootstrap.css" />
  <link href="https://fonts.googleapis.com/css?family=Anton|Roboto" rel="stylesheet">
  <title>Udacity Multi User Blog</title>
</head>

<body>
  

  <div class="login-area">
    {% if user %}
      <b>Welcome, {{user.name}}!</b> <a href="/blog/newpost"><b>new post</b></a> <a href="/logout"><b>logout</b></a>
    {% else %}
      <a class="login-link" href="/login">login</a>
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>
    </br>
  <div class="centered">
    <a href="/blog" class="main-title">
    Udacity Multi User Blog
    </a>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</div>
</body>

</html>

